<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adicionar tarefa</h1>

<form action="/adicionar" method="post">

<label for="title">Título da tarefa</label>
<input type="text" name="titulo" id="titulo" placeholder="Escreva aqui...">

<label>Descrição da tarefa</label>
<input type="text" name="descricao" id="descricao" placeholder="Escreva aqui...">

<button type="submit">Adicionar</button>
</form>

</body>
</html>