<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de tarefas</h1>

    <ul>
        <li>Tarefa 01</li>
        <li>Tarefa 02</li>
        <li>Tarefa 03</li>
    </ul>

    <a href="/adicionarTarefa">Nova tarefa</a>
</body>
</html>