<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles/home.css" />
</head>
<body>
    <h1>Criar Produto</h1>

    <form action="/adicionar-produto" method="post">
        <label for="nome">Nome</label>
        <input type="text" name=" nome" id="nome" placeholder="Digite o nome"/>
        <label for="preco">Preço</label>
        <input type="text" name="preco" id="preco" placeholder="Digite o Preço"/>
        
        <button type="submit">Salvar</button>

    </form>
</body>
</html>